In [2]:
#Import Dependencies

import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [95]:
#Import NBA CSV Files

players_csv = "players.csv"
player_data_csv = "player_data.csv"
season_stats_csv = "Seasons_stats.csv"

df_players = pd.read_csv(players_csv)
df_player_data = pd.read_csv(player_data_csv)
df_season_stats = pd.read_csv(season_stats_csv)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
#Read Header
df_players.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [115]:
#Read Header
df_season_stats.head()

,Unnamed: 0,Year,Player,Pos_main,Pos_secondary,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G,F,31.0,FTW,63.0,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,NaN,29.0,INO,49.0,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,NaN,25.0,CHS,67.0,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,NaN,24.0,TOT,15.0,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,NaN,24.0,DNN,13.0,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [119]:
#Create Tables: Height-W, Height-Inches, Main Position, Secondary Position, Teams
height = [4,5,6,7]
df_height = pd.DataFrame(height, columns =["height_feet"])
df_height.head()

inches = [0,1,2,3,4,5,6,7,8,9,10,11]
df_inches = pd.DataFrame(inches, columns =["height_inches"])
df_inches.head()

main_position = df_season_stats.Pos_main.unique()
Pos_main_df = pd.DataFrame(main_position, columns =["Pos_main"]).dropna()
Pos_main_df

secondary_position = df_season_stats.Pos_secondary.unique()
Pos_secondary_df = pd.DataFrame(secondary_position, columns =["Pos_secondary"]).dropna()
Pos_secondary_df

teams = df_season_stats.Tm.unique()
team_df = pd.DataFrame(teams, columns = ["team"]).dropna()
team_df.head()

  team
0  FTW
1  INO
2  CHS
3  TOT
4  DNN

In [126]:
colleges = df_player_data["college"].unique
colleges

<bound method Series.unique of 0                                         Duke University
1                                   Iowa State University
2                   University of California, Los Angeles
3                              Louisiana State University
4                               San Jose State University
5                                University of California
6                                      Indiana University
7                             Western Kentucky University
8                          Salem International University
9                                                     NaN
10                                  Pepperdine University
11                                 Long Island University
12                                Oral Roberts University
13                                      Hillsdale College
14                                      Baylor University
15                                 University of Oklahoma
16                                Northwestern University
17                                Gardner-Webb University
18                                  University of Arizona
19                  University of California, Los Angeles
20                                         Boston College
21                               University of Pittsburgh
22                                    Syracuse University
23                                 University of Kentucky
24                            Loyola Marymount University
25                              University of Connecticut
26                  University of California, Los Angeles
27                              Michigan State University
28                                      DePaul University
29                              Missouri State University
                              ...
4520                                 University of Oregon
4521                                                  NaN
4522                                University of Houston
4523                    University of Southern California
4524    Virginia Polytechnic Institute and State Unive...
4525                             University of Pittsburgh
4526                      Georgia Institute of Technology
4527                                  Stanford University
4528                                                  NaN
4529                                St. John's University
4530                                St. John's University
4531                                   Indiana University
4532                                     Miami University
4533                                     Drake University
4534                       Washington & Jefferson College
4535                             University of Notre Dame
4536                         University of North Carolina
4537                             Arizona State University
4538                             University of Washington
4539                                                  NaN
4540                University of California, Los Angeles
4541                         Mississippi State University
4542                      University of Nevada, Las Vegas
4543                                                  NaN
4544                                                  NaN
4545                                Kent State University
4546                                  Duquesne University
4547                                                  NaN
4548                         George Washington University
4549                         University of North Carolina
Name: college, Length: 4550, dtype: object>

In [81]:
colleges = df_player_data.college.unique()
colleges_2 = pd.DataFrame(colleges)
colleges_3 = colleges_2.rename(columns={0: "college"})
import numpy as np
#Change NaN College Name to N/A so can be added to Table
colleges_4= colleges_3.replace(np.nan, 'N/A', regex=True)
colleges_4

                                             college
0                                    Duke University
1                              Iowa State University
2              University of California, Los Angeles
3                         Louisiana State University
4                          San Jose State University
5                           University of California
6                                 Indiana University
7                        Western Kentucky University
8                     Salem International University
9                                                N/A
10                             Pepperdine University
11                            Long Island University
12                           Oral Roberts University
13                                 Hillsdale College
14                                 Baylor University
15                            University of Oklahoma
16                           Northwestern University
17                           Gardner-Webb University
18                             University of Arizona
19                                    Boston College
20                          University of Pittsburgh
21                               Syracuse University
22                            University of Kentucky
23                       Loyola Marymount University
24                         University of Connecticut
25                         Michigan State University
26                                 DePaul University
27                         Missouri State University
28                          Brigham Young University
29                         Morehead State University
..                                               ...
444                     Appalachian State University
445                    Southeastern Illinois College
446                  University of Southern Colorado
447                        Valdosta State University
448  State University of New York College at Buffalo
449                            Ball State University
450                                   Marist College
451                                Howard University
452         California State University, Bakersfield
453                   Christopher Newport University
454                    Eastern Washington University
455                  Brigham Young University Hawaii
456                         James Madison University
457                              Phillips University
458                                    Siena College
459                        Portland State University
460                         Azusa Pacific University
461             Saint Mary's University of Minnesota
462                 State University of West Georgia
463          Millersville University of Pennsylvania
464                           University of Scranton
465                              American University
466                          University of San Diego
467                          Morgan State University
468                                 Walsh University
469                          University of Baltimore
470                                  Hanover College
471                               Averett University
472                        Friendship Junior College
473          Northeast Mississippi Community College

[474 rows x 1 columns]

In [66]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'config'

In [69]:
#connect to the specific database containing the NBA data tables
connection_string = "postgres:postgres@localhost:5432/NBA Data"
engine = create_engine(f'postgresql://{connection_string}')

In [70]:
#Check Table Name
engine.table_names()

['Players',
 'Positions',
 'Colleges',
 'Teams',
 'StartYear',
 'EndYear',
 'Height_feet',
 'Height_inches',
 'Player_data']

In [74]:
#Import College Table
colleges_4.to_sql(name="Colleges", con=engine, if_exists='append', index=False)

In [122]:
#Import Team Table
team_df.to_sql(name="Teams", con=engine, if_exists='append', index=False)

In [127]:
pd.read_sql_query('select * from "Teams"', con=engine)

   team
0   FTW
1   INO
2   CHS
3   TOT
4   DNN
5   NYK
6   TRI
7   AND
8   PHW
9   WAT
10  SHE
11  ROC
12  BLB
13  MNL
14  SYR
15  WSC
16  BOS
17  STB
18  MLH
19  STL
20  DET
21  CIN
22  LAL
23  CHP
24  SFW
25  CHZ
26  BAL
27  PHI
28  CHI
29  SDR
..  ...
39  KCO
40  CAP
41  NOJ
42  WSB
43  KCK
44  IND
45  NYN
46  DEN
47  SAS
48  NJN
49  SDC
50  UTA
51  DAL
52  LAC
53  SAC
54  CHH
55  MIA
56  ORL
57  MIN
58  VAN
59  TOR
60  WAS
61  MEM
62  NOH
63  CHA
64  NOK
65  OKC
66  BRK
67  NOP
68  CHO

[69 rows x 1 columns]

In [104]:
#Enter Height_feet Table
df_height.to_sql(name="Height_feet", con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_Height_feet"
DETAIL:  Key (height_feet)=(4) already exists.

[SQL: INSERT INTO "Height_feet" (height_feet) VALUES (%(height_feet)s)]
[parameters: ({'height_feet': 4}, {'height_feet': 5}, {'height_feet': 6}, {'height_feet': 7})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [110]:
#Enter Height Inches dataframe
df_inches.to_sql(name="Height_inches", con=engine, if_exists='append', index=False)