In [1]:
#Import Dependencies

import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Import NBA CSV Files

players_csv = "players.csv"
player_data_csv = "player_data.csv"
season_stats_csv = "Seasons_stats.csv"

df_players = pd.read_csv(players_csv)
df_player_data = pd.read_csv(player_data_csv)
df_season_stats = pd.read_csv(season_stats_csv)

In [3]:
#Read Header
df_player_data.head()

,name,year_start,year_end,position,height_feet,height_inches,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6.0,10.0,240.0,6/24/1968,Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6.0,9.0,235.0,4/7/1946,Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7.0,2.0,225.0,4/16/1947,"University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6.0,1.0,162.0,3/9/1969,Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6.0,6.0,223.0,11/3/1974,San Jose State University

In [23]:
df_clean_player_data = df_player_data.dropna(how='all')

In [18]:
df_player_data.columns

Index(['name', 'year_start', 'year_end', 'position', 'height_feet',
       'height_inches', 'weight', 'birth_date', 'college'],
      dtype='object')

In [24]:
#make player_data dataframe dropping name, birth_date columns
cols_2 = ['year_start', 'year_end', 'position', 'height_feet',
       'height_inches', 'weight', 'college']
df_player_data_2= df_clean_player_data[cols_2].copy()
df_player_data_2.head()

,year_start,year_end,position,height_feet,height_inches,weight,college
0,1991,1995,F-C,6.0,10.0,240.0,Duke University
1,1969,1978,C-F,6.0,9.0,235.0,Iowa State University
2,1970,1989,C,7.0,2.0,225.0,"University of California, Los Angeles"
3,1991,2001,G,6.0,1.0,162.0,Louisiana State University
4,1998,2003,F,6.0,6.0,223.0,San Jose State University

In [4]:
#make dataframe using name and birthday
cols = ["name", "birth_date"]
player_name_birthday_df = df_player_data[cols].copy()
player_name_birthday_df.head()

                  name birth_date
0       Alaa Abdelnaby  6/24/1968
1      Zaid Abdul-Aziz   4/7/1946
2  Kareem Abdul-Jabbar  4/16/1947
3   Mahmoud Abdul-Rauf   3/9/1969
4    Tariq Abdul-Wahad  11/3/1974

In [5]:
df_season_stats.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [6]:
cols_1 = ['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
        'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
df_season_stats_2 = df_season_stats[cols_1].copy()
df_season_stats_3= df_season_stats_2.dropna(how ="all")
df_season_stats_3.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,144.0,516.0,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,102.0,274.0,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,174.0,499.0,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,22.0,86.0,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,21.0,82.0,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [7]:
df_season_stats_4= df_season_stats_3.rename(columns={"Pos": "Position",
                                                    "FG%": "FG_percent",
                                                    "3P%":"3P_percent",
                                                    "2P%": "2P_percent",
                                                    "eFG%": "eFG_percent",
                                                    "FT%": "FT_percent",
                                                    "Tm": "Team"})
df_season_stats_4.count()

Year           24624
Player         24624
Position       24624
Age            24616
Team           24624
G              24624
GS             18233
MP             24138
FG             24624
FGA            24624
FG_percent     24525
3P             18927
3PA            18927
3P_percent     15416
2P             24624
2PA            24624
2P_percent     24496
eFG_percent    24525
FT             24624
FTA            24624
FT_percent     23766
ORB            20797
DRB            20797
TRB            24312
AST            24624
STL            20797
BLK            20797
TOV            19645
PF             24624
PTS            24624
dtype: int64

In [8]:
#Create Tables: Height-W, Height-Inches, Main Position, Secondary Position, Teams
height = [4,5,6,7]
df_height = pd.DataFrame(height, columns =["height_feet"])
df_height.head()

inches = [0,1,2,3,4,5,6,7,8,9,10,11]
df_inches = pd.DataFrame(inches, columns =["height_inches"])
df_inches.head()

position = df_season_stats.Pos.unique()
Pos_df = pd.DataFrame(position, columns =["position"]).dropna()
Pos_df



teams = df_season_stats.Tm.unique()
team_df = pd.DataFrame(teams, columns = ["team"]).dropna()
Pos_df

   position
0       G-F
1        SG
2        SF
3         F
4         G
5       F-C
6        PG
7       F-G
8         C
9        PF
10      C-F
12     PF-C
13    SF-SG
14     C-PF
15    SG-SF
16    PF-SF
17    SF-PF
18    SG-PG
19    SF-PG
20     C-SF
21    PG-SG
22    PG-SF
23    SG-PF

In [9]:
colleges = df_player_data["college"].unique
colleges

<bound method Series.unique of 0                                         Duke University
1                                   Iowa State University
2                   University of California, Los Angeles
3                              Louisiana State University
4                               San Jose State University
5                                University of California
6                                      Indiana University
7                             Western Kentucky University
8                          Salem International University
9                                                     NaN
10                                  Pepperdine University
11                                 Long Island University
12                                Oral Roberts University
13                                      Hillsdale College
14                                      Baylor University
15                                 University of Oklahoma
16                                Northwestern University
17                                Gardner-Webb University
18                                  University of Arizona
19                  University of California, Los Angeles
20                                         Boston College
21                               University of Pittsburgh
22                                    Syracuse University
23                                 University of Kentucky
24                            Loyola Marymount University
25                              University of Connecticut
26                  University of California, Los Angeles
27                              Michigan State University
28                                      DePaul University
29                              Missouri State University
                              ...
4520                               University of Kentucky
4521                                 University of Oregon
4522                                                  NaN
4523                                University of Houston
4524                    University of Southern California
4525    Virginia Polytechnic Institute and State Unive...
4526                             University of Pittsburgh
4527                      Georgia Institute of Technology
4528                                  Stanford University
4529                                                  NaN
4530                                St. John's University
4531                                St. John's University
4532                                   Indiana University
4533                                     Miami University
4534                                     Drake University
4535                       Washington & Jefferson College
4536                             University of Notre Dame
4537                         University of North Carolina
4538                             Arizona State University
4539                             University of Washington
4540                                                  NaN
4541                University of California, Los Angeles
4542                         Mississippi State University
4543                      University of Nevada, Las Vegas
4544                                                  NaN
4545                                                  NaN
4546                                Kent State University
4547                                  Duquesne University
4548                                                  NaN
4549                         George Washington University
Name: college, Length: 4550, dtype: object>

In [10]:
colleges = df_player_data.college.unique()
colleges_2 = pd.DataFrame(colleges)
colleges_3 = colleges_2.rename(columns={0: "college"})
import numpy as np
#Change NaN College Name to N/A so can be added to Table
colleges_4= colleges_3.replace(np.nan, 'N/A', regex=True)
colleges_4

                                             college
0                                    Duke University
1                              Iowa State University
2              University of California, Los Angeles
3                         Louisiana State University
4                          San Jose State University
5                           University of California
6                                 Indiana University
7                        Western Kentucky University
8                     Salem International University
9                                                N/A
10                             Pepperdine University
11                            Long Island University
12                           Oral Roberts University
13                                 Hillsdale College
14                                 Baylor University
15                            University of Oklahoma
16                           Northwestern University
17                           Gardner-Webb University
18                             University of Arizona
19                                    Boston College
20                          University of Pittsburgh
21                               Syracuse University
22                            University of Kentucky
23                       Loyola Marymount University
24                         University of Connecticut
25                         Michigan State University
26                                 DePaul University
27                         Missouri State University
28                          Brigham Young University
29                         Morehead State University
..                                               ...
444                     Appalachian State University
445                    Southeastern Illinois College
446                  University of Southern Colorado
447                        Valdosta State University
448  State University of New York College at Buffalo
449                            Ball State University
450                                   Marist College
451                                Howard University
452         California State University, Bakersfield
453                   Christopher Newport University
454                    Eastern Washington University
455                  Brigham Young University Hawaii
456                         James Madison University
457                              Phillips University
458                                    Siena College
459                        Portland State University
460                         Azusa Pacific University
461             Saint Mary's University of Minnesota
462                 State University of West Georgia
463          Millersville University of Pennsylvania
464                           University of Scranton
465                              American University
466                          University of San Diego
467                          Morgan State University
468                                 Walsh University
469                          University of Baltimore
470                                  Hanover College
471                               Averett University
472                        Friendship Junior College
473          Northeast Mississippi Community College

[474 rows x 1 columns]

In [11]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
#connect to the specific database containing the NBA data tables
connection_string = "postgres:postgres@localhost:5432/NBA Data"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
#Check Table Name
engine.table_names()

['Players', 'Player_data', 'Colleges', 'Teams', 'SeasonStats', 'Positions']

In [14]:
#Import College Table
colleges_4.to_sql(name="Colleges", con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_Colleges"
DETAIL:  Key (college)=(Duke University) already exists.

[SQL: INSERT INTO "Colleges" (college) VALUES (%(college)s)]
[parameters: ({'college': 'Duke University'}, {'college': 'Iowa State University'}, {'college': 'University of California, Los Angeles'}, {'college': 'Louisiana State University'}, {'college': 'San Jose State University'}, {'college': 'University of California'}, {'college': 'Indiana University'}, {'college': 'Western Kentucky University'}  ... displaying 10 of 474 total bound parameter sets ...  {'college': 'Friendship Junior College'}, {'college': 'Northeast Mississippi Community College'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
#Import Team Table
team_df.to_sql(name="Teams", con=engine, if_exists='append', index=False)

In [ ]:
#import player positions
Pos_df.to_sql(name="Positions", con=engine, if_exists='append', index=False)

In [ ]:
#import player name/birthday table
player_name_birthday_df.to_sql(name="Players", con=engine, if_exists='append', index=False)

In [15]:
#import season stats table
df_season_stats_4.to_sql(name="SeasonStats", con=engine, if_exists='append', index=False)

In [26]:
#import player_data table
df_player_data_2.to_sql(name="Player_data", con=engine, if_exists='append', index=False)

In [27]:
#confirm data loaded to SQL 
pd.read_sql_query('select * from "Player_data"', con=engine)

,college,height_feet,height_inches,weight,position,year_start,year_end,id
0,Duke University,6.0,10.0,240.0,F-C,1991,1995,1
1,Iowa State University,6.0,9.0,235.0,C-F,1969,1978,2
2,"University of California, Los Angeles",7.0,2.0,225.0,C,1970,1989,3
3,Louisiana State University,6.0,1.0,162.0,G,1991,2001,4
4,San Jose State University,6.0,6.0,223.0,F,1998,2003,5
5,University of California,6.0,9.0,225.0,F,1997,2008,6
6,Indiana University,6.0,7.0,220.0,F,1977,1981,7
7,Western Kentucky University,6.0,3.0,180.0,G,1957,1957,8
8,Salem International University,6.0,3.0,195.0,F,1947,1948,9
9,None,6.0,6.0,190.0,G-F,2017,2018,10
10,Pepperdine University,6.0,5.0,185.0,G,2006,2009,11
11,Long Island University,6.0,1.0,183.0,G,1954,1954,12
12,Oral Roberts University,6.0,11.0,220.0,F-C,1988,1993,13
13,Hillsdale College,6.0,6.0,210.0,F,1968,1968,14
14,Baylor University,6.0,7.0,240.0,F,2013,2018,15
15,University of Oklahoma,6.0,9.0,210.0,C-F,1976,1988,16
16,Northwestern University,6.0,6.0,210.0,F,1971,1977,17
17,Gardner-Webb University,6.0,5.0,210.0,F-G,1973,1975,18
18,University of Arizona,6.0,4.0,220.0,G,2007,2009,19
19,"University of California, Los Angeles",6.0,5.0,209.0,G,2015,2016,20
20,Boston College,5.0,10.0,162.0,G,1986,1996,21
21,University of Pittsburgh,7.0,1.0,255.0,C,2014,2018,22
22,Syracuse University,6.0,7.0,215.0,F-G,1987,1997,23
23,University of Kentucky,6.0,10.0,243.0,C-F,2018,2018,24
24,Loyola Marymount University,6.0,1.0,175.0,G,1969,1975,25
25,University of Connecticut,6.0,7.0,245.0,F,2011,2015,26
26,"University of California, Los Angeles",6.0,5.0,210.0,G,2008,2018,27
27,Michigan State University,6.0,5.0,202.0,G,2007,2011,28
28,DePaul University,6.0,6.0,232.0,F-G,1982,1994,29
29,Missouri State University,6.0,2.0,190.0,G,2008,2012,30
...,...,...,...,...,...,...,...,...
4520,University of Kentucky,6.0,6.0,215.0,G-F,2015,2017,4521
4521,University of Oregon,6.0,2.0,180.0,G,2016,2018,4522
4522,None,6.0,7.0,213.0,F,1999,1999,4523
4523,University of Houston,6.0,7.0,220.0,F-G,1985,1990,4524
4524,University of Southern California,6.0,7.0,210.0,G-F,2008,2018,4525
4525,Virginia Polytechnic Institute and State Unive...,6.0,5.0,210.0,G,1987,1987,4526
4526,University of Pittsburgh,6.0,6.0,220.0,F,2010,2013,4527
4527,Georgia Institute of Technology,6.0,8.0,221.0,F,2008,2018,4528
4528,Stanford University,7.0,1.0,220.0,C,2000,2000,4529
4529,None,6.0,9.0,205.0,G,2009,2009,4530
4530,St. John's University,6.0,2.0,170.0,G-F,1947,1956,4531
4531,St. John's University,6.0,7.0,215.0,F-C,1953,1955,4532
4532,Indiana University,7.0,1.0,240.0,C-F,2014,2018,4533
4533,Miami University,6.0,1.0,175.0,G,1962,1962,4534
4534,Drake University,6.0,3.0,205.0,G,1971,1972,4535
4535,Washington & Jefferson College,6.0,4.0,210.0,C-F,1947,1947,4536
4536,University of Notre Dame,6.0,11.0,245.0,C,2013,2013,4537
4537,University of North Carolina,7.0,1.0,253.0,F-C,2013,2018,4538
4538,Arizona State University,6.0,8.0,210.0,F,1980,1980,4539
4539,University of Washington,6.0,10.0,230.0,C,1988,1988,4540
4540,None,7.0,1.0,255.0,C,2001,2005,4541
4541,"University of California, Los Angeles",7.0,1.0,250.0,C,1996,1998,4542
4542,Mississippi State University,6.0,3.0,195.0,G,2006,2006,4543
4543,"University of Nevada, Las Vegas",7.0,1.0,240.0,C,2017,2017,4544
4544,None,6.0,8.0,215.0,G-F,2017,2018,4545
4545,None,6.0,11.0,250.0,F-C,2018,2018,4546
4546,Kent State University,7.0,1.0,240.0,C,1983,1983,4547
4547,Duquesne University,6.0,1.0,170.0,G,1971,1971,4548
4548,None,7.0,1.0,265.0,C,2017,2018,4549
4549,George Washington University,6.0,3.0,195.0,G-F,1949,1949,4550