In [2]:
import pandas as pd

In [23]:
players_csv = "players.csv"
player_data_csv = "player_data.csv"
season_stats_csv = "Seasons_stats.csv"

df_players = pd.read_csv(players_csv)
df_player_data = pd.read_csv(player_data_csv)
df_season_stats = pd.read_csv(season_stats_csv)

In [24]:
df_players.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [25]:
df_player_data.head()

,name,year_start,year_end,position,height,inches,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6.0,10.0,240.0,24-Jun-68,Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6.0,9.0,235.0,7-Apr-46,Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7.0,2.0,225.0,16-Apr-47,"University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6.0,1.0,162.0,9-Mar-69,Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6.0,6.0,223.0,3-Nov-74,San Jose State University

In [44]:
colleges = df_player_data["college"].unique
colleges

<bound method Series.unique of 0                                         Duke University
1                                   Iowa State University
2                   University of California, Los Angeles
3                              Louisiana State University
4                               San Jose State University
5                                University of California
6                                      Indiana University
7                             Western Kentucky University
8                          Salem International University
9                                                     NaN
10                                  Pepperdine University
11                                 Long Island University
12                                Oral Roberts University
13                                      Hillsdale College
14                                      Baylor University
15                                 University of Oklahoma
16                                Northwestern University
17                                Gardner-Webb University
18                                  University of Arizona
19                  University of California, Los Angeles
20                                         Boston College
21                               University of Pittsburgh
22                                    Syracuse University
23                                 University of Kentucky
24                            Loyola Marymount University
25                              University of Connecticut
26                  University of California, Los Angeles
27                              Michigan State University
28                                      DePaul University
29                              Missouri State University
                              ...
4520                                 University of Oregon
4521                                                  NaN
4522                                University of Houston
4523                    University of Southern California
4524    Virginia Polytechnic Institute and State Unive...
4525                             University of Pittsburgh
4526                      Georgia Institute of Technology
4527                                  Stanford University
4528                                                  NaN
4529                                St. John's University
4530                                St. John's University
4531                                   Indiana University
4532                                     Miami University
4533                                     Drake University
4534                       Washington & Jefferson College
4535                             University of Notre Dame
4536                         University of North Carolina
4537                             Arizona State University
4538                             University of Washington
4539                                                  NaN
4540                University of California, Los Angeles
4541                         Mississippi State University
4542                      University of Nevada, Las Vegas
4543                                                  NaN
4544                                                  NaN
4545                                Kent State University
4546                                  Duquesne University
4547                                                  NaN
4548                         George Washington University
4549                         University of North Carolina
Name: college, Length: 4550, dtype: object>

In [57]:
positions = df_player_data.C.unique()
positions_2 = pd.DataFrame(positions)
positions_2

        0
0     G-F
1      SG
2      SF
3       F
4       G
5     F-C
6      PG
7     F-G
8       C
9      PF
10    C-F
11    NaN
12   PF-C
13  SF-SG
14   C-PF
15  SG-SF
16  PF-SF
17  SF-PF
18  SG-PG
19  SF-PG
20   C-SF
21  PG-SG
22  PG-SF
23  SG-PF

In [78]:
colleges = df_player_data.college.unique()
colleges_2 = pd.DataFrame(colleges)
colleges_3 = colleges_2.rename(columns={0: "college"})
import numpy as np
colleges_4= colleges_3.replace(np.nan, 'N/A', regex=True)
colleges_4.head()

                                 college
0                        Duke University
1                  Iowa State University
2  University of California, Los Angeles
3             Louisiana State University
4              San Jose State University

In [66]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#for security purposes, login credentials stored in variable 'postgrescred'
from config import postgrescred

ModuleNotFoundError: No module named 'config'

In [69]:
#connect to the specific database containing the employee data tables
connection_string = "postgres:postgres@localhost:5432/NBA Data"
engine = create_engine(f'postgresql://{connection_string}')

In [70]:
engine.table_names()

['Players',
 'Positions',
 'Colleges',
 'Teams',
 'StartYear',
 'EndYear',
 'Height_feet',
 'Height_inches',
 'Player_data']

In [74]:
colleges_4.to_sql(name="Colleges", con=engine, if_exists='append', index=False)

In [77]:
pd.read_sql_query('select * from Colleges', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "colleges" does not exist
LINE 1: select * from Colleges
                      ^

[SQL: select * from Colleges]
(Background on this error at: http://sqlalche.me/e/f405)